:root{
    --dark-smoke: #555555;
    --smoke: #8E8E8E;
    --dark-snow: #E5E5E5;
    --snow: #F5F5F5;
    --shadow: #00000033;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* 16px = defaultSize font of HTML
    1rem = 10px == (10/16px = 62.5% -> 1.4rem = 14px 
    OU 16px * 62.5% = 10px)
    */
}

html, body, #__next {
    height: 100%;
    width: 100%;
    background-color: var(--dark-snow);
}

.mainContainer {
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    min-width: 327px;
    margin: auto;
}

@media (min-width: 600px) {
    .mainContainer{
        padding: start;
        padding-left: 113px;
        padding-right: 113px;
    }
}